html {
	height: 100%;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
	display: block;
}

body * {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	height: 100%;
	width: 100%;
	max-width: 1920px;
	font-size: 14px;
	line-height: normal;
	font-weight: 300;
	font-family: 'Roboto', Arial, sans-serif;
	color: #666;
	cursor: default;
}

.wrapper {
	min-width: 320px;
	max-width: 1440px;
	width: 100%;
	margin: 0 auto;
	min-height: 100%;
	height: auto;
}

/* ==========================================================================

typography
========================================================================== */

h1,
h2,
h3,
h4,
h5 {
	line-height: inherit;
	text-align: center;
}

h1 {
	font-size: 52px;
	font-weight: 700;
	font-family: 'Montserrat', Arial, sans-serif;
	color: #fff;
	text-transform: uppercase;
	margin-bottom: 27px;
}

h2 {
	font-size: 24px;
	font-weight: 300;
	font-family: 'Roboto', Arial, sans-serif;
	color: #fff;
	margin-bottom: 32px;
}

h3 {
	font-size: 22px;
	font-weight: 700;
	font-family: 'Montserrat', Arial, sans-serif;
	color: #333;
	margin-bottom: 32px;
}

h4 {
	font-size: 18px;
	font-weight: 300;
	font-family: 'Roboto', Arial, sans-serif;
	color: #333;
	margin-bottom: 36px;
}

h5 {
	font-size: 14px;
	font-weight: 700;
	font-family: 'Montserrat', Arial, sans-serif;
	color: #333;
	margin-bottom: 14px;
}

p {
	font-size: 14px;
	font-weight: inherit;
	line-height: inherit;
	font-family: inherit;
}

.chip {
	font-size: 10px;
	font-weight: 400;
	line-height: inherit;
	font-family: 'Montserrat', Arial, sans-serif;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 2px;
}

@media (max-width: 767px) {
	h1 {
		font-size: 30px;
	}

	h2 {
		font-size: 18px;
	}
}

/* ==========================================================================

colors
========================================================================== */

.font-dark {
	color: #333;
}

.font-white {
	color: #fff;
}

.font-grey {
	color: #666;
}

.font-light-grey {
	color: #ccc;
}

.font-red {
	color: #ff4e50;
}

.font-input {
	color: #999;
}

/* Header
----------------------------------------------------------------------------- */
.header {
	height: 700px;
	background: #ffe680;
}

/* Middle
----------------------------------------------------------------------------- */
.content {
	padding: 0 0 198px;
}

/* section-sliders
----------------------------------------------------------------------------- */
.section-sliders {

}

/* section-partners
----------------------------------------------------------------------------- */
.section-partners {

}

/* section-gallery
----------------------------------------------------------------------------- */
.section-gallery {
	margin: 0 0 100px;
}

.wrapper-images {
	max-width: 968px;
	text-align: center;
	margin: 0 auto;
}

.wrapper-images a {
	text-decoration: none;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	behavior: url(/pie/PIE.htc);
	overflow: hidden;
}

.wrapper-images li {
	display: inline-block;
	margin: 10px;
}

.wrapper-images .item-link {
	position: relative;
	display: inline-block;
}

.wrapper-images .item-link h3 {
	position: relative;
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	height: 310px;
	z-index: 1;
}

.wrapper-images .item-image-small h3 {
	width: 300px;
}

.wrapper-images .item-image-big h3 {
	width: 620px;
}

.wrapper-images .item-link img {
	position: absolute;
	top: 0;
	left: 0;
	height: auto;
	z-index: -1;
}

@media (max-width: 968px) {
	.wrapper-images .item-image-small h3 {
		width: 233px;
	}

	.wrapper-images .item-image-big h3 {
		width: 490px;
	}
}

@media (max-width: 767px) {
	.section-gallery {
		margin: 0 0 38px;
	}

	.wrapper-images li {
		margin: 5px 10px;
	}

	.wrapper-images .item-link h3 {
		width: 300px;
		height: 121px;
	}

	.wrapper-images .item-link img {
		width: 300px;
	}
}
/* section-search
----------------------------------------------------------------------------- */
.section-search {
	margin-bottom: 100px;
}

.form-search {
	text-align: center;
	padding: 0 24px;
}

.form-search .input-search {
	width: 280px;
	height: 40px;
	border-radius: 4px;
	border: 1px solid #ccc;
	box-shadow: 0 1px 0 #eee;
	margin-bottom: 10px;
	font-size: 14px;
	line-height: normal;
	font-weight: 300;
	font-family: 'Roboto', 'Arial', sans-serif;
	padding-left: 16px;
}

.form-search .btn-search {
	margin-left: 10px;
}

@media (max-width: 480px) {
	.section-search {
		margin-bottom: 40px;
	}
}

/* Footer
----------------------------------------------------------------------------- */
.footer {
	margin: -198px auto 0;
	min-width: 320px;
	max-width: 100%;
	width: 100%;
	height: 198px;
	position: relative;
	display: block;
}

.footer-wrapper {
	max-width: 944px;
	margin: 0 auto;
}

.footer-wrapper p {
	line-height: 24px;
}

.footer::before {
	content: '';
	display: block;
	width: 100%;
	height: 4px;
	background-color: #ff4e50;
	margin-bottom: 36px;
}

.footer a {
	display: inline-block;
	text-decoration: none;
}

.footer h5 {
	line-height: 10px;
}

.footer-logo,
.footer-menu,
.footer-designed,
.footer h5 {
	display: inline-block;
	vertical-align: top;
	width: 24.7%;
	text-align: left;
}

.footer-menu {
	padding-left: 60px;
}

.footer-menu h5 {
	width: 100%;
	text-align: left;
}

.footer-designed {
	margin-bottom: 18px;
	text-align: right;
}

.footer-designed span {
	display: inline-block;
	width: 100%;
	margin-bottom: 10px;
}

.footer-logo,
.footer-menu {
	margin-bottom: 18px;
}

.menu-list .item-list {
	display: inline-block;
	width: 100%;
	text-align: left;
}

@media (max-width: 964px) {
	.footer-wrapper {
		padding: 0 40px;
		box-sizing: content-box;
	}

	.footer-logo,
	.footer-menu,
	.footer-designed,
	.footer h5 {
		width: 24.6%;
	}
}

@media (max-width: 718px) {
	.footer-logo,
	.footer-menu,
	.footer-designed,
	.footer h5 {
		width: 100%;
		text-align: center;
	}

	.footer::before {
		margin-bottom: 16px;
	}

	.footer-menu {
		padding-left: 0;
	}

	.menu-list .item-list {
		width: auto;
	}

	.item-list + .item-list {
		margin-left: 14px;
	}
}
