html {
	height: 100%;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
	display: block;
}

body {
	height: 100%;
	font-size: 14px;
	line-height: normal;
	font-weight: 300;
	font-family: Roboto, Arial, sans-serif;
	color: #666;
	cursor: default;
}

.wrapper {
	min-width: 320px;
	max-width: 1440px;
	margin: 0 auto;
	min-height: 100%;
	height: auto;
	height: 100%;
}

/* ==========================================================================

typography
========================================================================== */

h1 {
	font-size: 52px;
	line-height: inherit;
	font-weight: 700;
	font-family: Montserrat, Roboto, Arial, sans-serif;
	text-align: center;
}

h2 {
	font-size: 24px;
	line-height: inherit;
	font-weight: 300;
	font-family: inherit;
	text-align: center;
}

h3 {
	font-size: 22px;
	line-height: inherit;
	font-family: inherit;
	text-align: center;
}

p {
	font-size: 14px;
	line-height: inherit;
	font-family: inherit;
}

/* ==========================================================================

colors
========================================================================== */

.font-dark {
	color: #333;
}

.font-light {
	color: #fff;
}

.font-grey {
	color: #666;
}

.font-light-grey {
	color: #ccc;
}

.font-red {
	color: #ff4e50;
}

.font-input {
	color: #999;
}

/* indents
========================================================================== */

.indent-big {
	margin-bottom: 100px;
}

/* Header
----------------------------------------------------------------------------- */
.header {
	height: 700px;
	background: #ffe680;
}

/* Middle
----------------------------------------------------------------------------- */
.content {
	padding: 0 0 198px;
}

/* Middle
----------------------------------------------------------------------------- */

/* Footer
----------------------------------------------------------------------------- */
.footer {
	margin: -198px auto 0;
	min-width: 320px;
	max-width: 1440px;
	height: 198px;
	background: #bff08e;
	position: relative;
}