@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto-Regular.woff') format('woff'),
		url('../fonts/Roboto-Regular.ttf') format('truetype'),
		url('../fonts/Roboto-Regular.svg#Roboto-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat-Regular.woff') format('woff'),
		url('../fonts/Montserrat-Regular.ttf') format('truetype'),
		url('../fonts/Montserrat-Regular.svg#Montserrat-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
	display: block;
}

html {
	overflow: auto;
}

html,
body {
	width: 100%;
	height: 100%;
	margin: 0;
}

body {
	max-width: 1920px;
	margin: 0 auto;
	font-size: 14px;
	line-height: normal;
	font-weight: 300;
	font-family: 'Roboto', Arial, sans-serif;
	color: #666;
	cursor: default;
}

.page-wrapper {
	min-width: 320px;
	max-width: 1440px;
	width: 100%;
	margin: 0 auto;
}

img {
	display: block;
	height: auto;
	max-width: 100%;
}

/* ==========================================================================

typography
========================================================================== */

h1,
h2,
h3,
h4,
h5 {
	line-height: inherit;
	text-align: center;
}

h1 {
	font-size: 52px;
	font-weight: 700;
	font-family: 'Montserrat', Arial, sans-serif;
	color: #fff;
	text-transform: uppercase;
	margin-bottom: 25px;
}

h2 {
	font-size: 24px;
	font-weight: 300;
	font-family: inherit;
	color: #fff;
	margin-bottom: 32px;
}

h3 {
	font-size: 22px;
	font-weight: 700;
	font-family: 'Montserrat', Arial, sans-serif;
	color: #333;
	margin-bottom: 32px;
}

h4 {
	font-size: 18px;
	font-weight: 300;
	font-family: inherit;
	color: #333;
	margin-bottom: 36px;
}

h5 {
	font-size: 14px;
	font-weight: 700;
	font-family: 'Montserrat', Arial, sans-serif;
	color: #333;
	margin-bottom: 14px;
}

p {
	font-size: 14px;
	font-weight: inherit;
	line-height: inherit;
	font-family: inherit;
	margin-bottom: 15px;
}

.chip {
	display: inline-block;
	font-size: 10px;
	font-weight: 400;
	line-height: inherit;
	font-family: 'Montserrat', Arial, sans-serif;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 2px;
	background: #ff4e50;
	padding: 6px 14px;
	border-radius: 15px;
	margin-bottom: 10px;
}

.clearfix {
	clear: both;
	height: auto;
	float: none;
	overflow: hidden;
}

@media (max-width: 767px) {
	h1 {
		font-size: 30px;
	}

	.header h2 {
		font-size: 18px;
	}

}

/* ==========================================================================

colors
========================================================================== */

.font-dark {
	color: #333;
}

.font-white {
	color: #fff;
}

.font-grey {
	color: #666;
}

.font-light-grey {
	color: #ccc;
}

.font-red {
	color: #ff4e50;
}

.font-red-hovered:hover {
	color: #ff4e50;
}

.font-input {
	color: #999;
}

/* Buttons
----------------------------------------------------------------------------- */

.btn-search,
.btn-show-more {
	display: inline-block;
	border-radius: 20px;
	box-sizing: border-box;
	padding: 12px 50px;
	font-size: 14px;
	font-weight: 700;
	font-family: 'Montserrat', Arial, sans-serif;
	text-decoration: none;
	transition: all ease-out 0.2s;
}

.btn-search {
  	background: #ff4e50;
	color: #fff;
	border: 0;
}

.btn-search:hover {
	background: #fd4345;
}

.btn-show-more {
	color: #ff4e50;
	border: 2px solid #ff4e50;
}

.btn-show-more:hover {
	color: #333;
	border: 2px solid #fd4345;
}

@media (min-width: 600px) {
	.btn-search,
	.btn-show-more {
		padding: 12px 25px;
	}
}

/* Header
----------------------------------------------------------------------------- */
.header {
	width: auto;
	max-width: 1920px;
	padding: 20px 1% 0 1%;
	margin: 0 auto 40px auto;
	background: url(../gallary/bg_header.jpg) no-repeat;
	background-position: center top;
	text-align: center;
	z-index: 1;
}

.header .top-header {
	margin-bottom: 30px;
}

.header .logo {
	display: block;
}

.header .logo img {
	margin: 0 auto;
}

.header .buttons-authorization {
	margin-bottom: 120px;
}

.header .auth-item {
	display: inline-block;
	color: #fff;
	font-size: 14px;
	font-weight: 700;
	font-family: 'Montserrat', Arial, sans-serif;
	padding: 8px 17px;
	box-sizing: border-box;
}

.header .auth-item.active {
	border: 1px solid #fff;
	border-radius: 15px;
}

.header .auth-item a {
	color: inherit;
	text-decoration: none;
}

.header .title-main {
	max-width: 300px;
	text-align: center;
	margin: 0 auto 25px auto;
}

.header h2 {
	max-width: 80%;
	margin: 0 auto 32px auto;
}

.header .btn-search {
	margin-bottom: 140px;
}

/* 320 */
@media (min-width: 480px) {}

@media (min-width: 767px) {
	.header .title-main {
		max-width: 600px;
	}
}

/* 768 */
@media (min-width: 600px) {
	.header {
		padding: 40px 1% 0 1%;
		margin: 0 auto 100px auto;
	}

	.header .logo {
		float: left;
	}

	.header .logo img {
		margin: auto;
	}

	.header .buttons-authorization {
		float: right;
		margin-bottom: 150px;
	}

	.header .btn-search {
		margin-bottom: 210px;
	}
}

/* 1440 */
@media (min-width: 1000px) {}

/* Middle
----------------------------------------------------------------------------- */
.content-wrapper {
	margin: 0 auto;
}

.section-wrapper {
	position: relative;
	max-width: 940px;
	margin: 0 auto;
}

/* section-sliders
----------------------------------------------------------------------------- */
.section-sliders {
	margin-bottom: 40px;
	padding: 0 10px;
}

.section-sliders .sliders {
	margin-left: 0;
	overflow: hidden;
}

.section-sliders .slider {
	display: inline-block;
	position: relative;
	width: 100%;
	padding-left: 0;
	margin-bottom: 10px;
	box-sizing: border-box;
	overflow: hidden;
}

.section-sliders .slide {
	position: relative;
	border-radius: 5px;
	overflow: hidden;
}

.section-sliders .slide img {
	width: 100%;
}

.section-sliders .slide .info {
	position: absolute;
	bottom: 0;
	padding: 0 15px;
}

.section-sliders .slide .shadow-slide {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	box-shadow: inset 0 -300px 200px -67px rgba(0, 0, 0, 0.45);
}

.section-sliders .slide h2 {
	text-align: left;
	/* padding: 0 0 10px; */
	margin-bottom: 10px;
}

.section-sliders .slide p {
	color: #ccc;
}

.section-sliders .arrow {
	display: none;
	position: absolute;
	width: 100%;
	top: 40px;
}

.section-sliders .arrow .prev,
.section-sliders .arrow .next {
	display: inline-block;
	width: 30px;
	height: 55px;
	position: absolute;
	top: 0;
	z-index: 10;
	cursor: pointer;
	border: none;
	text-indent: -10000px;
}

.section-sliders .arrow .prev {
	background: url("../images/icon_arrows_slider.png") no-repeat;
	background-position: 0 0;
	left: 20px;
}

.section-sliders .arrow .next {
	background: url("../images/icon_arrows_slider.png") no-repeat;
	background-position: -33px 0;
	right: 20px;
}

/* 768 */
@media (min-width: 600px) {
	.section-sliders {
		margin-bottom: 100px;
	}

	.section-sliders .sliders {
		/* margin-left: -20px; */
	}

	.section-sliders .slider {
		margin-left: 20px;
		width: 31%;
		width: calc(33.33% - 3px - 20px);
	}

	.section-sliders .slide {
		height: 400px;
	}

	.section-sliders .slide img {
		height: 100%;
		width: auto;
		max-width: inherit;
	}

	.section-sliders .arrow {
		display: block;
	}
}

/* 1440 */
@media (min-width: 1000px) {
	.section-sliders .arrow {
		top: 150px;
	}
}

/* section-partners
----------------------------------------------------------------------------- */
.section-partners {
	margin-bottom: 40px;
	text-align: center;
}

.section-partners h2 {
	color: #333;
	font-weight: 600;
}

.section-partners .partner {
	margin-bottom: 5px;
}

.section-partners .item-partner {
	display: inline-block;
	vertical-align: top;
	width: 100%;
	margin: 0 auto 10px auto;
}

.section-partners .image {
	position: relative;
	display: inline-block;
	margin-bottom: 20px;
}

.section-partners .item-partner .image::after {
	content: '';
	display: inline-block;
	position: absolute;
	width: 33px;
	height: 33px;
	bottom: 0;
	right: 0;
	background: url("../images/icon_partner1.png") #ff4d54;
	background-position: center center;
	background-repeat: no-repeat;
	border: 4px solid #fff;
	border-radius: 50%;
	box-sizing: content-box;
}

.section-partners .item-partner:nth-child(1) .image::after {
	background: url("../images/icon_partner1.png") #ff4d54 center center no-repeat;
}

.section-partners .item-partner:nth-child(2) .image::after {
	background: url("../images/icon_partner2.png") #1cd7ad center center no-repeat;
}

.section-partners .item-partner:nth-child(3) .image::after {
	background: url("../images/icon_partner3.png") #ffa508 center center no-repeat;
}

.section-partners .item-partner:nth-child(4) .image::after {
	background: url("../images/icon_partner4.png") #4e75de center center no-repeat;
}

.section-partners .about {
	text-align: center;
	max-width: 240px;
	margin: 0 auto 15px auto;
}

.section-partners .btn-other-partnes {
	margin: 0 auto;
	text-align: center;
}

/* 768 */
@media (min-width: 600px) {
	.section-partners {
		margin-bottom: 100px;
	}

	.section-partners .partner {
		margin-bottom: 15px;
	}

	.section-partners .item-partner {
		width: 49%;
		width: calc((100% - 8px) / 2);
	}
}

/* 1440 */
@media (min-width: 1000px) {
	.section-partners .item-partner {
		width: 24%;
		width: calc((100% - 16px) / 4);
	}
}

/* section-gallery
----------------------------------------------------------------------------- */
.section-gallery {
	margin: 0 0 100px;
}

.section-gallery img {
	max-width: none;
}

.wrapper-images {
	max-width: 968px;
	text-align: center;
	margin: 0 auto;
}

.wrapper-images a {
	text-decoration: none;
	border-radius: 4px;
	behavior: url(/pie/PIE.htc);
	overflow: hidden;
}

.wrapper-images li {
	display: inline-block;
	margin: 10px;
}

.wrapper-images .item-link {
	position: relative;
	display: inline-block;
}

.wrapper-images .item-link h3 {
	position: relative;
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	height: 310px;
	box-sizing: border-box;
	padding: 0;
	z-index: 1;
}

.wrapper-images .item-image-small h3 {
	width: 300px;
}

.wrapper-images .item-image-big h3 {
	width: 620px;
}

.wrapper-images .item-link img {
	position: absolute;
	top: 0;
	left: 0;
	height: auto;
	z-index: -1;
}

@media (max-width: 968px) {
	.wrapper-images .item-image-small h3 {
		width: 233px;
	}

	.wrapper-images .item-image-big h3 {
		width: 490px;
	}
}

@media (max-width: 767px) {
	.section-gallery {
		margin: 0 0 38px;
	}

	.wrapper-images li {
		margin: 5px 10px;
	}

	.wrapper-images .item-link h3 {
		width: 300px;
		height: 121px;
	}

	.wrapper-images .item-link img {
		width: 300px;
	}
}
/* section-search
----------------------------------------------------------------------------- */
.section-search {
	margin-bottom: 100px;
}

.form-search {
	text-align: center;
	padding: 0 22px 0 18px;
}

.form-search .input-search {
	width: 280px;
	height: 40px;
	border-radius: 4px;
	border: 1px solid #ccc;
	box-shadow: 0 1px 0 #eee;
	margin-bottom: 10px;
	font-size: 14px;
	line-height: normal;
	font-weight: 300;
	font-family: Roboto, Arial, sans-serif;
	padding-left: 16px;
	box-sizing: border-box;
}

.form-search .btn-search {
	margin-left: 10px;
}

@media (max-width: 480px) {
	.section-search {
		margin-bottom: 40px;
	}
}

/* Footer
----------------------------------------------------------------------------- */
.footer {
	min-width: 320px;
	max-width: 100%;
	width: 100%;
	position: relative;
	display: block;
	border-top: 4px solid #ff4e50;
	padding-top: 36px;
}

.footer img,
.footer a {
	display: inline-block;
}

.footer-wrapper {
	max-width: 944px;
	margin: 0 auto;
}

.footer a {
	text-decoration: none;
	font-size: 14px;
	font-weight: inherit;
	line-height: 24px;
	font-family: inherit;
}

.footer h5 {
	line-height: 10px;
}

.footer .font-small {
	margin-bottom: 10px;
}

.footer-logo,
.footer-menu,
.footer-designed,
.footer h5 {
	display: inline-block;
	vertical-align: top;
	width: 23%;
	text-align: left;
}

.footer-partners {
	display: inline-block;
}

.footer-menu {
	padding-left: 60px;
}

.footer-menu h5 {
	width: 100%;
	text-align: left;
}

.footer-designed {
	margin-bottom: 18px;
	text-align: right;
}

.footer-designed span {
	display: inline-block;
	width: 100%;
	margin-bottom: 10px;
}

.footer-logo,
.footer-menu {
	margin-bottom: 18px;
}

.menu-list .item-list {
	display: inline-block;
	width: 100%;
	text-align: left;
}

@media (max-width: 964px) {
	.footer-wrapper {
		padding: 0 40px;
		box-sizing: content-box;
	}

	.footer-logo,
	.footer-menu,
	.footer-designed,
	.footer h5 {
		width: 22.2%;
	}
}

@media (max-width: 718px) {
	.footer-logo,
	.footer-menu,
	.footer-designed,
	.footer h5 {
		width: 100%;
		text-align: center;
	}

	.footer::before {
		margin-bottom: 16px;
	}

	.footer-menu {
		padding-left: 0;
	}

	.footer-partners {
		width: 100%;
	}

	.menu-list .item-list {
		width: auto;
	}

	.item-list + .item-list {
		margin-left: 14px;
	}
}
